{% extends "admin/base.html" %}
{% load admin_static %}

{% block branding %}
	<h1 id="site-name">
        <a href="/admin/">Penjahit</a>
    </h1> 
{% endblock %}

{% block extrahead %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'admin/plugin/jquery/jquery.js' %}"></script>
{% endblock %}

{% block footer %}
	<script type="text/javascript">
		// alert("asd")
		// $('#suit-nav').html("")

		$(function(){
			console.log('ready')
			$.ajax({
				url: "{% url 'get_menu_pengguna' %}",
				type: "GET",
				success: function(respon){
					// console.log(respon)
					if(respon.success == true){
						$('#suit-nav').html("")
						// <li class=" active">
						//     <a href="/"><i class="fa fa-home"></i>Beranda
						//     </a>
						    
						// </li>

						html_ = '<ul>'
						for (var i = 0; i < respon.menus.length; i++) {
							menus_ = respon.menus[i]
							html_ += '<li><a href="'+menus_.url+'"><i class="'+menus_.icon+'"></i>'+menus_.name+'</a></li>' 
						}
						html_ += '</ul>'

						$('#suit-nav').html(html_)
					}
				}
			})
		})
	</script>
{% endblock %}