{% extends "admin/change_form.html" %}
{% load admin_static %}

{% block extrahead %}
	{{ block.super }}
	<!-- <script type="text/javascript" src="{% static 'admin/plugin/jquery/jquery.js' %}"></script> -->
	<style type="text/css">
		/*@media (min-width: 992px){
			.widget-AdminSplitDateTime{
				width: 80%;
				flex: none;
				max-width: 80%;
			}
		}*/
	</style>
{% endblock %}